openapi: 3.0.1
info:
  description: |2-

    <h1 id="freee_api">freee API</h1>
    <hr />
    <h2 id="start_guide">スタートガイド</h2>

    <p>freee API開発がはじめての方は<a href="https://developer.freee.co.jp/getting-started">freee API スタートガイド</a>を参照してください。</p>

    <hr />
    <h2 id="specification">仕様</h2>

    <pre><code>【重要】会計freee APIの新バージョンについて
    2020年12月まで、2つのバージョンが利用できる状態です。古いものは2020年12月に利用不可となります。<br>
    新しいAPIを利用するにはリクエストヘッダーに以下を指定します。
    X-Api-Version: 2020-06-15<br>
    指定がない場合は2020年12月に廃止予定のAPIを利用することとなります。<br>
    【重要】APIのバージョン指定をせずに利用し続ける場合
    2020年12月に新しいバージョンのAPIに自動的に切り替わります。
    詳細は、<a href="https://developer.freee.co.jp/release-note/2948" target="_blank">リリースノート</a>をご覧ください。<br>
    旧バージョンのAPIリファレンスを確認したい場合は、<a href="https://freee.github.io/freee-api-schema/" target="_blank">旧バージョンのAPIリファレンスページ</a>をご覧ください。
    </code></pre>

    <h3 id="api_endpoint">APIエンドポイント</h3>

    <p>https://api.freee.co.jp/ (httpsのみ)</p>

    <h3 id="about_authorize">認証について</h3>
    <p>OAuth2.0を利用します。詳細は<a href="https://developer.freee.co.jp/docs" target="_blank">ドキュメントの認証</a>パートを参照してください。</p>

    <h3 id="data_format">データフォーマット</h3>

    <p>リクエスト、レスポンスともにJSON形式をサポートしていますが、詳細は、API毎の説明欄（application/jsonなど）を確認してください。</p>

    <h3 id="compatibility">後方互換性ありの変更</h3>

    <p>freeeでは、APIを改善していくために以下のような変更は後方互換性ありとして通知なく変更を入れることがあります。アプリケーション実装者は以下を踏まえて開発を行ってください。</p>

    <ul>
    <li>新しいAPIリソース・エンドポイントの追加</li>
    <li>既存のAPIに対して必須ではない新しいリクエストパラメータの追加</li>
    <li>既存のAPIレスポンスに対する新しいプロパティの追加</li>
    <li>既存のAPIレスポンスに対するプロパティの順番の入れ変え</li>
    <li>keyとなっているidやcodeの長さの変更（長くする）</li>
    </ul>

    <h3 id="common_response_header">共通レスポンスヘッダー</h3>

    <p>すべてのAPIのレスポンスには以下のHTTPヘッダーが含まれます。</p>

    <ul>
    <li>
    <p>X-Freee-Request-ID</p>
    <ul>
    <li>各リクエスト毎に発行されるID</li>
    </ul>
    </li>
    </ul>

    <h3 id="common_error_response">共通エラーレスポンス</h3>

    <ul>
    <li>
    <p>ステータスコードはレスポンス内のJSONに含まれる他、HTTPヘッダにも含まれる</p>
    </li>
    <li>
    <p>一部のエラーレスポンスにはエラーコードが含まれます。<br>詳細は、<a href="https://developer.freee.co.jp/tips/faq/40x-checkpoint">HTTPステータスコード400台エラー時のチェックポイント</a>を参照してください</p>
    </li>
    <p>type</p>

    <ul>
    <li>status : HTTPステータスコードの説明</li>

    <li>validation : エラーの詳細の説明（開発者向け）</li>
    </ul>
    </li>
    </ul>

    <p>レスポンスの例</p>

    <pre><code>  {
        &quot;status_code&quot; : 400,
        &quot;errors&quot; : [
          {
            &quot;type&quot; : &quot;status&quot;,
            &quot;messages&quot; : [&quot;不正なリクエストです。&quot;]
          },
          {
            &quot;type&quot; : &quot;validation&quot;,
            &quot;messages&quot; : [&quot;Date は不正な日付フォーマットです。入力例：2013-01-01&quot;]
          }
        ]
      }</code></pre>

    </br>

    <h3 id="api_rate_limit">API使用制限</h3>

      <p>freeeは一定期間に過度のアクセスを検知した場合、APIアクセスをコントロールする場合があります。</p>
      <p>その際のhttp status codeは403となります。制限がかかってから10分程度が過ぎると再度使用することができるようになります。</p>

    <h4 id="reports_api_endpoint">/reportsエンドポイント</h4>

    <p>freeeは/reportsエンドポイントに対して1秒間に10以上のアクセスを検知した場合、APIアクセスをコントロールする場合があります。その際のhttp status codeは429（too many requests）となります。</p>

    <p>レスポンスボディのmetaプロパティに以下を含めます。</p>

    <ul>
      <li>設定されている上限値</li>
      <li>上限に達するまでの使用可能回数</li>
      <li>（上限値に達した場合）使用回数がリセットされる時刻</li>
    </ul>

    <h3 id="plan_api_rate_limit">プラン別のAPI Rate Limit</h3>
      <table border="1">
        <tbody>
          <tr>
            <th style="padding: 10px"><strong>会計freeeプラン名</strong></th>
            <th style="padding: 10px"><strong>事業所とアプリケーション毎に1日でのAPIコール数</strong></th>
          </tr>
          <tr>
            <td style="padding: 10px">エンタープライズ</td>
            <td style="padding: 10px">10,000</td>
          </tr>
          <tr>
            <td style="padding: 10px">プロフェッショナル</td>
            <td style="padding: 10px">5,000</td>
          </tr>
          <tr>
            <td style="padding: 10px">ベーシック</td>
            <td style="padding: 10px">3,000</td>
          </tr>
          <tr>
            <td style="padding: 10px">ミニマム</td>
            <td style="padding: 10px">3,000</td>
          </tr>
          <tr>
            <td style="padding: 10px">上記以外</td>
            <td style="padding: 10px">3,000</td>
          </tr>
        </tbody>
      </table>

    <h3 id="webhook">Webhookについて</h3>

    <p>詳細は<a href="https://developer.freee.co.jp/docs/accounting/webhook" target="_blank">会計Webhook概要</a>を参照してください。</p>

    <hr />
    <h2 id="contact">連絡先</h2>

    <p>ご不明点、ご要望等は <a href="https://support.freee.co.jp/hc/ja/requests/new">freee サポートデスクへのお問い合わせフォーム</a> からご連絡ください。</p>
    <hr />&copy; Since 2013 freee K.K.
  title: freee API
  version: v1.0
  x-copyright: '&copy; Since 2013 freee K.K.'
servers:
- url: https://api.freee.co.jp
security:
- oauth2:
  - write
  - read
tags:
- description: |2

    <p>取引先</p>
  name: Partners
- description: |2

    <p>フォーム用選択項目情報</p>
  name: Selectables
- description: |2

    <p>勘定科目</p>
  name: Account items
- description: |2

    <p>メモタグ</p>
  name: Tags
- description: |2

    <p>部門</p>
  name: Sections
- description: |2

    <p>請求書</p>
  name: Invoices
- description: |2

    <p>取引（収入／支出）</p>
  name: Deals
- description: |2

    <p>取引の支払行</p>
  name: Payments
- description: |2

    <p>取引の+更新</p>
  name: Renews
- description: |2

    <p>振替伝票</p>
  name: ManualJournals
- description: |2

    <p>ユーザー</p>
  name: Users
- description: |2

    <p>事業所</p>
  name: Companies
- description: |2

    <p>品目</p>
  name: Items
- description: |2

    <p>税区分</p>
  name: Taxes
- description: |2

    <p>口座</p>
  name: Walletables
- description: |2

    <p>連携サービス</p>
  name: Banks
- description: |2

    <p>取引（振替）</p>
  name: Transfers
- description: |2

    <p>明細</p>
  name: Wallet txns
- description: |2

    <p>仕訳帳</p>
  name: Journals
- description: |2

    <p>試算表</p>
  name: Trial balance
- description: |2

    <p>ファイルボックス</p>
  name: Receipts
- description: |2

    <p>経費精算</p>
  name: Expense applications
- description: |2

    <p>経費科目</p>
  name: Expense application line templates
- description: |2

    <p>各種申請</p>
  name: Approval requests
- description: |2

    <p>申請経路</p>
  name: Approval flow routes
- description: |2

    <p>セグメントタグ</p>
  name: Segment tags
- description: |2

    <p>見積書</p>
  name: Quotations
paths:
  /api/1/partners:
    get:
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した事業所の取引先一覧を取得する</p>
        <ul>
        <li>振込元口座ID（payer_walletable_id）, 振込手数料負担（transfer_fee_handling_side）は法人向けのプロフェッショナルプラン以上で利用可能です。</li></ul>
      operationId: get_partners
      parameters:
      - description: 事業所ID
        explode: true
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: '取得レコードのオフセット (デフォルト: 0)'
        explode: true
        in: query
        name: offset
        required: false
        schema:
          maximum: 9223372036854775807
          minimum: 0
          type: integer
        style: form
      - description: '取得レコードの件数 (デフォルト: 50, 最小: 1, 最大: 3000)'
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 3000
          minimum: 1
          type: integer
        style: form
      - description: 検索キーワード：取引先名・正式名称・カナ名称に対するあいまい検索で一致、またはショートカットキー1・2のいずれかに完全一致
        explode: true
        in: query
        name: keyword
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/partnersResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 取引先一覧の取得
      tags:
      - Partners
    post:
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した事業所の取引先を作成する</p>
        <ul>
        <li>codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。</li>
        <li>取引先コードの利用を有効にしている場合は、codeの指定は必須です。</li>
        <li>振込元口座ID（payer_walletable_id）, 振込手数料負担（transfer_fee_handling_side）, 支払期日設定（payment_term_attributes, 請求の入金期日設定（invoice_payment_term_attributes）は法人向けのプロフェッショナルプラン以上で利用可能です。</li></ul>
      operationId: create_partner
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/partnerCreateParams'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/partnerCreateParams'
        description: 取引先の作成
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/partnerResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 取引先の作成
      tags:
      - Partners
  /api/1/partners/{id}:
    delete:
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した事業所の取引先を削除する</p>
      operationId: destroy_partner
      parameters:
      - description: 取引先ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
      - description: 事業所ID
        explode: true
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      responses:
        "204":
          content: {}
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestNotFoundError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 取引先の削除
      tags:
      - Partners
    get:
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した事業所の取引先を取得する</p>
        <ul>
        <li>振込元口座ID（payer_walletable_id）, 振込手数料負担（transfer_fee_handling_side）, 支払期日設定（payment_term_attributes, 請求の入金期日設定（invoice_payment_term_attributes）は法人向けのプロフェッショナルプラン以上で利用可能です。</li></ul>
      operationId: get_partner
      parameters:
      - description: 取引先ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
      - description: 事業所ID
        explode: true
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/partnerResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestNotFoundError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 取引先の取得
      tags:
      - Partners
    put:
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した取引先の情報を更新する</p>
        <ul>
        <li>codeを指定、更新することはできません。</li>
        <li>振込元口座ID（payer_walletable_id）, 振込手数料負担（transfer_fee_handling_side）, 支払期日設定（payment_term_attributes, 請求の入金期日設定（invoice_payment_term_attributes）は法人向けのプロフェッショナルプラン以上で利用可能です。</li></ul>
      operationId: update_partner
      parameters:
      - description: 取引先ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/partnerUpdateParams'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/partnerUpdateParams'
        description: 取引先の更新
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/partnerResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 取引先の更新
      tags:
      - Partners
  /api/1/partners/code/{code}:
    put:
      description: |2-

        <h2 id="">概要</h2>

        <p>取引先コードをキーに、指定した取引先の情報を更新する</p>
        <ul>
        <li>このAPIを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。</li>
        <li>コードを日本語に設定している場合は、URLエンコードしてURLに含めるようにしてください。</li>
        <li>振込元口座ID（payer_walletable_id）, 振込手数料負担（transfer_fee_handling_side）, 支払期日設定（payment_term_attributes, 請求の入金期日設定（invoice_payment_term_attributes）は法人向けのプロフェッショナルプラン以上で利用可能です。</li></ul>
      operationId: update_partner_by_code
      parameters:
      - description: 取引先コード
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/partnerUpdateParams'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/partnerUpdateParams'
        description: 取引先の更新
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/partnerResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 取引先の更新
      tags:
      - Partners
  /api/1/forms/selectables:
    get:
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した事業所のフォーム用選択項目情報を取得する</p>
      operationId: get_forms_selectables
      parameters:
      - description: 事業所ID
        explode: true
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: '取得する項目(項目: account_item)'
        explode: true
        in: query
        name: includes
        required: false
        schema:
          enum:
          - account_item
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/selectablesIndexResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: フォーム用選択項目情報の取得
      tags:
      - Selectables
  /api/1/account_items/{id}:
    delete:
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した勘定科目を削除する</p>
        <h2 id="">注意点</h2>
        <ul>
        <li>削除できる勘定科目は、追加で作成したカスタム勘定項目のみです。</li>
        <li>デフォルトで存在する勘定科目や口座の勘定科目は削除できません。</li></ul>
      operationId: destroy_account_item
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
      - description: 事業所ID
        explode: true
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      responses:
        "204":
          content: {}
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 勘定科目の削除
      tags:
      - Account items
    get:
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した勘定科目の詳細を取得する</p>
      operationId: get_account_item
      parameters:
      - description: 事業所ID
        explode: true
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: 勘定科目ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accountItemResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestNotFoundError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 勘定科目の詳細情報の取得
      tags:
      - Account items
    put:
      description: |2-

        <h2 id="">概要</h2>

        <p>勘定科目を更新する</p>

        <h2 id="_2">注意点</h2>
        <p>tax_codeは、api/1/taxes/companies/{company_id} で該当事業所の税区分の一覧を取得して、availableの値がtrue、かつ”name_ja”に”税率%”を含んでいない税区分を確認して、そのcodeを指定して勘定科目の更新をしてください</p>
      operationId: update_account_item
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/accountItemParams'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/accountItemParams'
        description: 勘定科目の更新
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accountItemResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 勘定科目の更新
      tags:
      - Account items
  /api/1/account_items:
    get:
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した事業所の勘定科目一覧を取得する</p>

        <h2 id="_2">定義</h2>

        <ul>
        <li>default_tax_id : デフォルト設定がされている税区分ID</li>

        <li>default_tax_code : リクエストした日時を基準とした税区分コード</li>
        </ul>

        <h2 id="_3">注意点</h2>
        <p>default_tax_code は勘定科目作成・更新時に利用するものではありません</p>
      operationId: get_account_items
      parameters:
      - description: 事業所ID
        explode: true
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: 基準日:指定した場合、勘定科目に紐づく税区分(default_tax_code)が、基準日の税率に基づいて返ります。
        explode: true
        in: query
        name: base_date
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accountItemsResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 勘定科目一覧の取得
      tags:
      - Account items
    post:
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した事業所の勘定科目を作成する</p>

        <h2 id="_2">注意点</h2>
        <p>tax_nameは、api/1/taxes/companies/{company_id} で該当事業所の税区分の一覧を取得して、availableの値がtrue、かつ”name_ja”に”税率%”を含んでいない税区分を確認して、そのnameを指定して勘定科目の作成をしてください</p>
      operationId: create_account_item
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/accountItemParams'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/accountItemParams'
        description: 勘定科目の作成
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accountItemResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 勘定科目の作成
      tags:
      - Account items
  /api/1/tags:
    get:
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した事業所のメモタグ一覧を取得する</p>
      operationId: get_tags
      parameters:
      - description: 事業所ID
        explode: true
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: '取得レコードのオフセット (デフォルト: 0)'
        explode: true
        in: query
        name: offset
        required: false
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      - description: '取得レコードの件数 (デフォルト: 50, 最小: 1, 最大: 3000)'
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 3000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: メモタグ一覧の取得
      tags:
      - Tags
    post:
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した事業所のメモタグを作成する</p>
      operationId: create_tag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tagParams'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/tagParams'
        description: メモタグの作成
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tagResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: メモタグの作成
      tags:
      - Tags
  /api/1/tags/{id}:
    delete:
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した事業所のメモタグを削除する</p>
      operationId: destroy_tag
      parameters:
      - description: タグID
        explode: false
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
      - description: 事業所ID
        explode: true
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      responses:
        "204":
          content: {}
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestNotFoundError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: メモタグの削除
      tags:
      - Tags
    get:
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した事業所のメモタグを取得する</p>
      operationId: get_tag
      parameters:
      - description: タグID
        explode: false
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
      - description: 事業所ID
        explode: true
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tagResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestNotFoundError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: メモタグの詳細情報の取得
      tags:
      - Tags
    put:
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した事業所のメモタグを更新する</p>
      operationId: update_tag
      parameters:
      - description: メモタグID
        explode: false
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tagParams'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/tagParams'
        description: メモタグの更新
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tagResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestNotFoundError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: メモタグの更新
      tags:
      - Tags
  /api/1/sections:
    get:
      description: |2

        <h2 id="">概要</h2>

        <p>指定した事業所の部門一覧を取得する</p>

        <h2 id="_2">レスポンスの例</h2>

        <blockquote>
        <p>GET https://api.freee.co.jp/api/1/sections?company_id=1</p>
        </blockquote>

        <pre><code>// プレミアムプラン（個人）、ビジネスプラン（法人）、エンタープライズプラン（法人）
        {
          &quot;sections&quot; : [
            {
              &quot;id&quot; : 101,
              &quot;company_id&quot; : 1,
              &quot;name&quot; : &quot;開発部門&quot;,
              &quot;long_name&quot;: &quot;開発部門&quot;,
              &quot;shortcut1&quot; : &quot;DEVELOPER&quot;,
              &quot;shortcut2&quot; : &quot;123&quot;,
              &quot;indent_count&quot;: 1,
              &quot;parent_id&quot;: 11
            },
            ...
          ]
        }
        // それ以外のプラン
        {
          &quot;sections&quot; : [
            {
              &quot;id&quot; : 101,
              &quot;company_id&quot; : 1,
              &quot;name&quot; : &quot;開発部門&quot;,
              &quot;long_name&quot;: &quot;開発部門&quot;,
              &quot;shortcut1&quot; : &quot;DEVELOPER&quot;,
              &quot;shortcut2&quot; : &quot;123&quot;
            },
            ...
          ]
        }</code></pre>
      operationId: get_sections
      parameters:
      - description: 事業所ID
        explode: true
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 部門一覧の取得
      tags:
      - Sections
    post:
      description: |2

        <h2 id="">概要</h2>

        <p>指定した事業所の部門を作成する</p>

        <h2 id="_2">レスポンスの例</h2>

        <pre><code>// プレミアムプラン（個人）、ビジネスプラン（法人）、エンタープライズプラン（法人）
        {
          &quot;section&quot; : {
            &quot;id&quot; : 102,
            &quot;company_id&quot; : 1,
            &quot;name&quot; : &quot;開発部門&quot;,
            &quot;shortcut1&quot; : &quot;DEVELOPER&quot;,
            &quot;shortcut2&quot; : &quot;123&quot;,
            &quot;indent_count&quot;: 1,
            &quot;parent_id&quot;: 101
          }
        }
        // それ以外のプラン
        {
          &quot;section&quot; : {
            &quot;id&quot; : 102,
            &quot;company_id&quot; : 1,
            &quot;name&quot; : &quot;開発部門&quot;,
            &quot;shortcut1&quot; : &quot;DEVELOPER&quot;,
            &quot;shortcut2&quot; : &quot;123&quot;
          }
        }</code></pre>
      operationId: create_section
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sectionParams'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/sectionParams'
        description: 部門の作成
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sectionResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 部門の作成
      tags:
      - Sections
  /api/1/sections/{id}:
    delete:
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した事業所の部門を削除する</p>
      operationId: destroy_section
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
      - description: 事業所ID
        explode: true
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      responses:
        "204":
          content: {}
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 部門の削除
      tags:
      - Sections
    get:
      description: |2

        <h2 id="">概要</h2>

        <p>指定した事業所の部門を参照する</p><h2 id="_2">レスポンスの例</h2>

        <pre><code>// プレミアムプラン（個人）、ビジネスプラン（法人）、エンタープライズプラン（法人）
        {
          &quot;section&quot; : {
            &quot;id&quot; : 102,
            &quot;company_id&quot; : 1,
            &quot;name&quot; : &quot;開発部門&quot;,
            &quot;long_name&quot;: &quot;開発部門&quot;,
            &quot;shortcut1&quot; : &quot;DEVELOPER&quot;,
            &quot;shortcut2&quot; : &quot;123&quot;,
            &quot;indent_count&quot;: 1,
            &quot;parent_id&quot;: 101
          }
        }
        // それ以外のプラン
        {
          &quot;section&quot; : {
            &quot;id&quot; : 102,
            &quot;company_id&quot; : 1,
            &quot;name&quot; : &quot;開発部門&quot;,
            &quot;long_name&quot;: &quot;開発部門&quot;,
            &quot;shortcut1&quot; : &quot;DEVELOPER&quot;,
            &quot;shortcut2&quot; : &quot;123&quot;
          }
        }</code></pre>
      operationId: get_section
      parameters:
      - description: 部門ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
      - description: 事業所ID
        explode: true
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sectionResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestNotFoundError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      tags:
      - Sections
    put:
      description: |2

        <h2 id="">概要</h2>

        <p>指定した事業所の部門を更新する</p><h2 id="_2">レスポンスの例</h2>

        <pre><code>// プレミアムプラン（個人）、ビジネスプラン（法人）、エンタープライズプラン（法人）
        {
          &quot;section&quot; : {
            &quot;id&quot; : 102,
            &quot;company_id&quot; : 1,
            &quot;name&quot; : &quot;開発部門&quot;,
            &quot;long_name&quot;: &quot;開発部門&quot;,
            &quot;shortcut1&quot; : &quot;DEVELOPER&quot;,
            &quot;shortcut2&quot; : &quot;123&quot;,
            &quot;indent_count&quot;: 1,
            &quot;parent_id&quot;: 101
          }
        }
        // それ以外のプラン
        {
          &quot;section&quot; : {
            &quot;id&quot; : 102,
            &quot;company_id&quot; : 1,
            &quot;name&quot; : &quot;開発部門&quot;,
            &quot;long_name&quot;: &quot;開発部門&quot;,
            &quot;shortcut1&quot; : &quot;DEVELOPER&quot;,
            &quot;shortcut2&quot; : &quot;123&quot;
          }
        }</code></pre>
      operationId: update_section
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sectionParams'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/sectionParams'
        description: 部門の更新
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sectionResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 部門の更新
      tags:
      - Sections
  /api/1/invoices:
    get:
      description: |2

        <h2 id="">概要</h2>

        <p>指定した事業所の請求書一覧を取得する</p>
      operationId: get_invoices
      parameters:
      - description: 事業所ID
        explode: true
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: 取引先IDで絞込
        explode: true
        in: query
        name: partner_id
        required: false
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: 取引先コードで絞込
        explode: true
        in: query
        name: partner_code
        required: false
        schema:
          type: string
        style: form
      - description: 請求日の開始日(yyyy-mm-dd)
        explode: true
        in: query
        name: start_issue_date
        required: false
        schema:
          type: string
        style: form
      - description: 請求日の終了日(yyyy-mm-dd)
        explode: true
        in: query
        name: end_issue_date
        required: false
        schema:
          type: string
        style: form
      - description: 期日の開始日(yyyy-mm-dd)
        explode: true
        in: query
        name: start_due_date
        required: false
        schema:
          type: string
        style: form
      - description: 期日の終了日(yyyy-mm-dd)
        explode: true
        in: query
        name: end_due_date
        required: false
        schema:
          type: string
        style: form
      - description: 請求書番号
        explode: true
        in: query
        name: invoice_number
        required: false
        schema:
          type: string
        style: form
      - description: 概要
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: '請求書ステータス  (draft: 下書き, applying: 申請中, remanded: 差し戻し, rejected:
          却下, approved: 承認済み, unsubmitted: 送付待ち, submitted: 送付済み)'
        explode: true
        in: query
        name: invoice_status
        required: false
        schema:
          enum:
          - draft
          - applying
          - remanded
          - rejected
          - approved
          - unsubmitted
          - submitted
          type: string
        style: form
      - description: '入金ステータス  (unsettled: 入金待ち, settled: 入金済み)'
        explode: true
        in: query
        name: payment_status
        required: false
        schema:
          enum:
          - unsettled
          - settled
          type: string
        style: form
      - description: '取得レコードのオフセット (デフォルト: 0)'
        explode: true
        in: query
        name: offset
        required: false
        schema:
          maximum: 9223372036854775807
          minimum: 0
          type: integer
        style: form
      - description: '取得レコードの件数 (デフォルト: 20, 最大: 100) '
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestNotFoundError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 請求書一覧の取得
      tags:
      - Invoices
    post:
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した事業所の請求書を作成する</p>

        <h2 id="_1">注意点</h2>
        <ul>
        <li> <p>partner_code, partner_idはどちらかの指定が必須です。ただし両方同時に指定することはできません。</p> </li>
        <li> <p>請求書ステータス(invoice_status)を発行(issue)で利用した場合、請求内容の合計金額が0円以上になる必要があります。</p> </li>
        <li> <p>partner_codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。</p> </li>
        <li> <p>本APIでは請求内容(invoice_contents)は、最大100行までになります。</p> </li>
        </ul>
      operationId: create_invoice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/invoiceCreateParams'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/invoiceCreateParams'
        description: 請求書の作成
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoiceResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestNotFoundError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 請求書の作成
      tags:
      - Invoices
  /api/1/invoices/{id}:
    delete:
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した事業所の請求書を削除する</p>
      operationId: destroy_invoice
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
      - description: 事業所ID
        explode: true
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      responses:
        "204":
          content: {}
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestNotFoundError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 請求書の削除
      tags:
      - Invoices
    get:
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した事業所の請求書詳細を取得する</p>
      operationId: get_invoice
      parameters:
      - description: 事業所ID
        explode: true
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: 請求書ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoiceResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestNotFoundError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 請求書の取得
      tags:
      - Invoices
    put:
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した事業所の請求書を更新する</p>

        <h2 id="_1">注意点</h2>
        <ul>
        <li> <p>入金済みの請求書に対する金額関連の変更はできません。</p> </li>
        <li> <p>請求書ステータスは確定(issue)のみ指定可能です。請求書ステータスを確定する時のみ指定してください。</p> </li>
        <li> <p>請求書WFを利用している場合、承認済み請求書は承認権限を持たないユーザーでは更新できません。</p> </li>
        <li> <p>更新後の請求書ステータス(invoice_status)が下書き以外の場合、請求内容の合計金額が0円以上になる必要があります。</p> </li>
        <li> <p>partner_code, partner_idを両方同時に指定することはできません。</p> </li>
        <li> <p>partner_codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。</p> </li>
        <li> <p>本APIでは請求内容(invoice_contents)は、最大100行までになります。</p> </li>
        </ul>
      operationId: update_invoice
      parameters:
      - description: 請求書ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/invoiceUpdateParams'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/invoiceUpdateParams'
        description: 請求書の更新
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoiceResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestNotFoundError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 請求書の更新
      tags:
      - Invoices
  /api/1/quotations:
    get:
      description: |2

        <h2 id="">概要</h2>

        <p>指定した事業所の見積書一覧を取得する</p>
      operationId: get_quotations
      parameters:
      - description: 事業所ID
        explode: true
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: 取引先IDで絞込
        explode: true
        in: query
        name: partner_id
        required: false
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: 取引先コードで絞込
        explode: true
        in: query
        name: partner_code
        required: false
        schema:
          type: string
        style: form
      - description: 見積日の開始日(yyyy-mm-dd)
        explode: true
        in: query
        name: start_issue_date
        required: false
        schema:
          type: string
        style: form
      - description: 見積日の終了日(yyyy-mm-dd)
        explode: true
        in: query
        name: end_issue_date
        required: false
        schema:
          type: string
        style: form
      - description: 見積書番号
        explode: true
        in: query
        name: quotation_number
        required: false
        schema:
          type: string
        style: form
      - description: 概要
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: '見積書ステータス  (unsubmitted: 送付待ち, submitted: 送付済み, all: 全て)'
        explode: true
        in: query
        name: quotation_status
        required: false
        schema:
          enum:
          - all
          - unsubmitted
          - submitted
          type: string
        style: form
      - description: '取得レコードのオフセット (デフォルト: 0)'
        explode: true
        in: query
        name: offset
        required: false
        schema:
          maximum: 9223372036854775807
          minimum: 0
          type: integer
        style: form
      - description: '取得レコードの件数 (デフォルト: 20, 最大: 100) '
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestNotFoundError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 見積書一覧の取得
      tags:
      - Quotations
    post:
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した事業所の見積書を作成する</p>

        <h2 id="_1">注意点</h2>
        <ul>
        <li> <p>partner_code, partner_idはどちらかの指定が必須です。ただし両方同時に指定することはできません。</p> </li>
        <li> <p>partner_codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。</p> </li>
        <li> <p>本APIでは見積内容(quotation_contents)は、最大100行までになります。</p> </li>
        </ul>
      operationId: create_quotation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/quotationCreateParams'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/quotationCreateParams'
        description: 見積書の作成
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/quotationResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestNotFoundError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 見積書の作成
      tags:
      - Quotations
  /api/1/quotations/{id}:
    delete:
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した事業所の見積書を削除する</p>
      operationId: destroy_quotation
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
      - description: 事業所ID
        explode: true
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      responses:
        "204":
          content: {}
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestNotFoundError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 見積書の削除
      tags:
      - Quotations
    get:
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した事業所の見積書詳細を取得する</p>
      operationId: get_quotation
      parameters:
      - description: 事業所ID
        explode: true
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: 見積書ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/quotationResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestNotFoundError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 見積書の取得
      tags:
      - Quotations
    put:
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した事業所の見積書を更新する</p>

        <h2 id="_1">注意点</h2>
        <ul>
        <li> <p>partner_code, partner_idを両方同時に指定することはできません。</p> </li>
        <li> <p>partner_codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。</p> </li>
        <li> <p>本APIでは見積内容(quotation_contents)は、最大100行までになります。</p> </li>
        </ul>
      operationId: update_quotation
      parameters:
      - description: 見積書ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/quotationUpdateParams'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/quotationUpdateParams'
        description: 見積書の更新
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/quotationResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestNotFoundError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 見積書の更新
      tags:
      - Quotations
  /api/1/deals:
    get:
      description: |-
        <h2 id="">概要</h2>
        <p>指定した事業所の取引一覧（収入／支出）を取得する</p>
        <h2 id="_2">定義</h2>
        <ul>
        <li>
        <p>issue_date : 発生日</p>
        </li>
        <li>
        <p>due_date : 支払期日</p>
        </li>
        <li>
        <p>amount : 金額</p>
        </li>
        <li>
        <p>due_amount : 支払残額</p>
        </li>
        <li>
        <p>type</p>
        <ul>
        <li>income : 収入</li>
        <li>expense : 支出</li>
        </ul>
        </li>
        <li>
        <p>details : 取引の明細行</p>
        </li>
        <li>
        <p>accruals : 取引の債権債務行</p>
        </li>
        <li>
        <p>renews : 取引の+更新行</p>
        </li>
        <li>
        <p>payments : 取引の支払行</p>
        </li>
        <li>
        <p>from_walletable_type</p>
        <ul>
        <li>bank_account : 銀行口座</li>
        <li>credit_card : クレジットカード</li>
        <li>wallet : 現金</li>
        <li>private_account_item : プライベート資金（法人の場合は役員借入金もしくは役員借入金、個人の場合は事業主貸もしくは事業主借）</li>
        </ul>
        </li>
        <li>
        <p>registered_from</p>
        <ul>
        <li>all : すべての取引</li>
        <li>me : 自身が登録した取引</li>
        </ul>
        </li>
        </ul>
        <h2 id="_3">注意点</h2>
        <ul>
        <li>セグメントタグ情報は法人向けのプロフェッショナルプラン以上で利用可能です。利用可能なセグメントの数は、法人向けのプロフェッショナルプランの場合は1つ、エンタープライズプランの場合は3つです。</li>
        <li>partner_codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。またpartner_codeとpartner_idは同時に指定することはできません。</li>
        </ul>
      operationId: get_deals
      parameters:
      - description: 事業所ID
        explode: true
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: 取引先IDで絞込
        explode: true
        in: query
        name: partner_id
        required: false
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: 勘定科目IDで絞込
        explode: true
        in: query
        name: account_item_id
        required: false
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: 取引先コードで絞込
        explode: true
        in: query
        name: partner_code
        required: false
        schema:
          type: string
        style: form
      - description: '決済状況で絞込 (未決済: unsettled, 完了: settled)'
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - unsettled
          - settled
          type: string
        style: form
      - description: '収支区分 (収入: income, 支出: expense)'
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - income
          - expense
          type: string
        style: form
      - description: 発生日で絞込：開始日(yyyy-mm-dd)
        explode: true
        in: query
        name: start_issue_date
        required: false
        schema:
          type: string
        style: form
      - description: 発生日で絞込：終了日(yyyy-mm-dd)
        explode: true
        in: query
        name: end_issue_date
        required: false
        schema:
          type: string
        style: form
      - description: 支払期日で絞込：開始日(yyyy-mm-dd)
        explode: true
        in: query
        name: start_due_date
        required: false
        schema:
          type: string
        style: form
      - description: 支払期日で絞込：終了日(yyyy-mm-dd)
        explode: true
        in: query
        name: end_due_date
        required: false
        schema:
          type: string
        style: form
      - description: +更新日で絞込：開始日(yyyy-mm-dd)
        explode: true
        in: query
        name: start_renew_date
        required: false
        schema:
          type: string
        style: form
      - description: +更新日で絞込：終了日(yyyy-mm-dd)
        explode: true
        in: query
        name: end_renew_date
        required: false
        schema:
          type: string
        style: form
      - description: '取得レコードのオフセット (デフォルト: 0)'
        explode: true
        in: query
        name: offset
        required: false
        schema:
          maximum: 9223372036854775807
          minimum: 0
          type: integer
        style: form
      - description: '取得レコードの件数 (デフォルト: 20, 最大: 100) '
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: '取引登録元アプリで絞込（me: 本APIを叩くアプリ自身から登録した取引のみ）'
        explode: true
        in: query
        name: registered_from
        required: false
        schema:
          enum:
          - me
          type: string
        style: form
      - description: '取引の債権債務行の表示（without: 表示しない(デフォルト), with: 表示する）'
        explode: true
        in: query
        name: accruals
        required: false
        schema:
          enum:
          - without
          - with
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestNotFoundError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 取引（収入／支出）一覧の取得
      tags:
      - Deals
    post:
      description: |
        <h2 id="">概要</h2>
        <p>指定した事業所の取引（収入／支出）を作成する</p>
        <h2 id="_2">定義</h2>
        <ul>
        <li>
        <p>issue_date : 発生日</p>
        </li>
        <li>
        <p>due_date : 支払期日</p>
        </li>
        <li>
        <p>amount : 金額</p>
        </li>
        <li>
        <p>due_amount : 支払残額</p>
        </li>
        <li>
        <p>type</p>
        <ul>
        <li>income : 収入</li>
        <li>expense : 支出</li>
        </ul>
        </li>
        <li>
        <p>ref_number : 管理番号</p>
        </li>
        <li>
        <p>details : 取引の明細行(最大40行)</p>
        </li>
        <li>
        <p>payments : 取引の支払行</p>
        </li>
        <li>
        <p>receipt_ids : 証憑ファイルID</p>
        </li>
        <li>
        <p>from_walletable_type</p>
        <ul>
        <li>bank_account : 銀行口座</li>
        <li>credit_card : クレジットカード</li>
        <li>wallet : 現金</li>
        <li>private_account_item : プライベート資金（法人の場合は役員借入金もしくは役員借入金、個人の場合は事業主貸もしくは事業主借）</li>
        </ul>
        </li>
        </ul>
        <h2 id="_3">注意点</h2>
        <ul>
            <li><p>本APIでは+更新行(renews)の操作ができません。+更新行の作成APIをご利用ください。</p></li>
            <li><p>セグメントタグ情報は法人向けのプロフェッショナルプラン以上で利用可能です。利用可能なセグメントの数は、法人向けのプロフェッショナルプランの場合は1つ、エンタープライズプランの場合は3つです。</p></li>
            <li>
                <p>partner_codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。またpartner_codeとpartner_idは同時に指定することはできません。</p></li>
            <li>
                <p>本APIでは取引の明細行(details)は、最大40行までになります。</p>
            </li>
        </ul>
      operationId: create_deal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dealCreateParams'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/dealCreateParams'
        description: 取引（収入／支出）の作成
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dealCreateResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestNotFoundError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 取引（収入／支出）の作成
      tags:
      - Deals
  /api/1/deals/{id}:
    delete:
      operationId: destroy_deal
      parameters:
      - description: 取引ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
      - description: 事業所ID
        explode: true
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      responses:
        "204":
          content: {}
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestNotFoundError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 取引（収入／支出）の削除
      tags:
      - Deals
    get:
      description: |-
        <h2 id="">概要</h2>
        <p>指定した事業所の取引（収入／支出）を取得する</p>
        <h2 id="_2">定義</h2>
        <ul>
        <li>
        <p>issue_date : 発生日</p>
        </li>
        <li>
        <p>due_date : 支払期日</p>
        </li>
        <li>
        <p>amount : 金額</p>
        </li>
        <li>
        <p>due_amount : 支払残額</p>
        </li>
        <li>
        <p>type</p>
        <ul>
        <li>income : 収入</li>
        <li>expense : 支出</li>
        </ul>
        </li>
        <li>
        <p>details : 取引の明細行</p>
        </li>
        <li>
        <p>accruals : 取引の債権債務行</p>
        </li>
        <li>
        <p>renews : 取引の+更新行</p>
        </li>
        <li>
        <p>payments : 取引の支払行</p>
        </li>
        <li>
        <p>from_walletable_type</p>
        <ul>
        <li>bank_account : 銀行口座</li>
        <li>credit_card : クレジットカード</li>
        <li>wallet : 現金</li>
        <li>private_account_item : プライベート資金（法人の場合は役員借入金もしくは役員借入金、個人の場合は事業主貸もしくは事業主借）</li>
        </ul>
        </li>
        <li>
        <p>registered_from</p>
        <ul>
        <li>all : すべての取引</li>
        <li>me : 自身が登録した取引</li>
        </ul>
        </li>
        </ul>
        <h2 id="_3">注意点</h2>
        <ul>
        <li>セグメントタグ情報は法人向けのプロフェッショナルプラン以上で利用可能です。利用可能なセグメントの数は、法人向けのプロフェッショナルプランの場合は1つ、エンタープライズプランの場合は3つです。</li>
        </ul>
      operationId: get_deal
      parameters:
      - description: 事業所ID
        explode: true
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
      - description: '取引の債権債務行の表示（without: 表示しない(デフォルト), with: 表示する）'
        explode: true
        in: query
        name: accruals
        required: false
        schema:
          enum:
          - without
          - with
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dealResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestNotFoundError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 取引（収入／支出）の取得
      tags:
      - Deals
    put:
      description: |-
        <h2 id="">概要</h2>
        <p>指定した事業所の取引（収入／支出）を更新する</p>
        <h2 id="_2">定義</h2>
        <ul>
        <li>
        <p>issue_date : 発生日</p>
        </li>
        <li>
        <p>due_date : 支払期日</p>
        </li>
        <li>
        <p>amount : 金額</p>
        </li>
        <li>
        <p>due_amount : 支払残額</p>
        </li>
        <li>
        <p>type</p>
        <ul>
        <li>income : 収入</li>
        <li>expense : 支出</li>
        </ul>
        </li>
        <li>
        <p>details : 取引の明細行(最大40行)</p>
        </li>
        <li>
        <p>renews : 取引の+更新行</p>
        </li>
        <li>
        <p>payments : 取引の支払行</p>
        </li>
        <li>
        <p>from_walletable_type</p>
        <ul>
        <li>bank_account : 銀行口座</li>
        <li>credit_card : クレジットカード</li>
        <li>wallet : 現金</li>
        <li>private_account_item : プライベート資金（法人の場合は役員借入金もしくは役員借入金、個人の場合は事業主貸もしくは事業主借）</li>
        </ul>
        </li>
        <li>
        <p>receipt_ids : 証憑ファイルID</p>
        </li>
        </ul>
        <h2 id="_3">注意点</h2>
        <ul>
            <li><p>本APIでは支払行(payments)の操作ができません。支払行の作成・更新・削除APIをご利用ください。</p></li>
            <li><p>本APIでは+更新行(renews)の操作ができません。+更新行の作成・更新・削除APIをご利用ください。</p></li>
            <li><p>本APIでは収入／支出の切替えができません。既存の取引を削除後、再度作成してください。</p></li>
            <li><p>本APIで取引を更新すると、消費税の計算方法は必ず内税方式が選択されます。</p></li>
            <li><p>セグメントタグ情報は法人向けのプロフェッショナルプラン以上で利用可能です。利用可能なセグメントの数は、法人向けのプロフェッショナルプランの場合は1つ、エンタープライズプランの場合は3つです。</p></li>
            <li><p>partner_codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。またpartner_codeとpartner_idは同時に指定することはできません。</p></li>
            <li>
                <p>本APIでは取引の明細行(details)は、最大40行までになります。</p>
            </li>
        </ul>
      operationId: update_deal
      parameters:
      - description: 取引ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dealUpdateParams'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/dealUpdateParams'
        description: 取引（収入／支出）の更新
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dealResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestNotFoundError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 取引（収入／支出）の更新
      tags:
      - Deals
  /api/1/deals/{id}/renews:
    post:
      description: |
        <h2 id="">概要</h2>
        <p>指定した事業所の取引（収入／支出）の+更新を作成する</p>
        <h2 id="_2">定義</h2>
        <ul> <li> <p>issue_date : 発生日</p> </li>
        <li> <p>due_date : 支払期日</p> </li>
        <li> <p>amount : 金額</p> </li>
        <li> <p>due_amount : 支払残額</p> </li>
        <li> <p>type</p>
        <ul> <li>income : 収入</li>
        <li>expense : 支出</li> </ul> </li>
        <li> <p>details : 取引の明細行</p> </li>
        <li> <p>accruals : 取引の債権債務行</p> </li>
        <li> <p>renews : 取引の+更新行</p> </li>
        <li> <p>payments : 取引の支払行</p> </li>
        <li> <p>from_walletable_type</p>
        <ul> <li>bank_account : 銀行口座</li>
        <li>credit_card : クレジットカード</li>
        <li>wallet : 現金</li>
        <li>private_account_item : プライベート資金（法人の場合は役員借入金もしくは役員借入金、個人の場合は事業主貸もしくは事業主借）</li>
        </ul> </li> </ul>
        <h2 id="_3">注意点</h2>
        <ul> <li>本APIではdetails(取引の明細行)、accruals(債権債務行)、renewsのdetails(+更新の明細行)のみ操作可能です。</li>
        <li>本APIで取引を更新すると、消費税の計算方法は必ず内税方式が選択されます。</li> </ul>
      operationId: create_deal_renew
      parameters:
      - description: 取引ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/renewCreateParams'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/renewCreateParams'
        description: 取引（収入／支出）に対する+更新の情報
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dealResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 取引（収入／支出）に対する+更新の作成
      tags:
      - Renews
  /api/1/deals/{id}/renews/{renew_id}:
    delete:
      description: |
        <h2 id="">概要</h2>
        <p>指定した事業所の取引（収入／支出）の+更新を削除する</p>
        <h2 id="_3">注意点</h2>
        <ul> <li>本APIでは+更新の削除のみ可能です。取引や支払行に対する削除はできません。</li> <li>renew_idにはrenewsのid(+更新ID)を指定してください。renewsのdetailsのid(+更新の明細行ID)を指定できません。</li>
        <li>月締めされている仕訳に紐づく＋更新行の編集・削除はできません。</li> <li>承認済み仕訳に紐づく＋更新行の編集・削除は管理者権限のユーザーのみ可能です。</li>
        <li>本APIで取引を更新すると、消費税の計算方法は必ず内税方式が選択されます。</li> </ul>
      operationId: delete_deal_renew
      parameters:
      - description: 取引ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
      - description: +更新ID
        explode: false
        in: path
        name: renew_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
      - description: 事業所ID
        explode: true
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dealResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 取引（収入／支出）の+更新の削除
      tags:
      - Renews
    put:
      description: |
        <h2 id="">概要</h2>
        <p>指定した事業所の取引（収入／支出）の+更新を更新する</p>
        <h2 id="_2">定義</h2>
        <ul> <li> <p>issue_date : 発生日</p> </li>
        <li> <p>due_date : 支払期日</p> </li>
        <li> <p>amount : 金額</p> </li>
        <li> <p>due_amount : 支払残額</p> </li>
        <li> <p>type</p>
        <ul> <li>income : 収入</li>
        <li>expense : 支出</li> </ul> </li>
        <li> <p>details : 取引の明細行</p> </li>
        <li> <p>accruals : 取引の債権債務行</p> </li>
        <li> <p>renews : 取引の+更新行</p> </li>
        <li> <p>payments : 取引の支払行</p> </li>
        <li> <p>from_walletable_type</p>
        <ul> <li>bank_account : 銀行口座</li>
        <li>credit_card : クレジットカード</li>
        <li>wallet : 現金</li>
        <li>private_account_item : プライベート資金（法人の場合は役員借入金もしくは役員借入金、個人の場合は事業主貸もしくは事業主借）</li>
        </ul> </li> </ul>
        <h2 id="_3">注意点</h2>
        <ul> <li>本APIでは+更新の更新のみ可能です。取引や支払行に対する更新はできません。</li> <li>renew_idにはrenewsのid(+更新ID)を指定してください。renewsのdetailsのid(+更新の明細行ID)を指定できません。</li> <li>月締めされている仕訳に紐づく＋更新行の編集・削除はできません。</li> <li>承認済み仕訳に紐づく＋更新行の編集・削除は管理者権限のユーザーのみ可能です。</li>
        <li>本APIで取引を更新すると、消費税の計算方法は必ず内税方式が選択されます。</li> </ul>
      operationId: update_deal_renew
      parameters:
      - description: 取引ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
      - description: +更新ID
        explode: false
        in: path
        name: renew_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/renewUpdateParams'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/renewUpdateParams'
        description: +更新の更新情報
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dealResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 取引（収入／支出）の+更新の更新
      tags:
      - Renews
  /api/1/deals/{id}/payments:
    post:
      description: |-
        <h2 id="">概要</h2>
        <p>指定した事業所の取引（収入／支出）の支払行を作成する</p>
        <h2 id="_2">定義</h2>
        <ul>
        <li>
        <p>issue_date : 発生日</p>
        </li>
        <li>
        <p>due_date : 支払期日</p>
        </li>
        <li>
        <p>amount : 金額</p>
        </li>
        <li>
        <p>due_amount : 支払残額</p>
        </li>
        <li>
        <p>type</p>
        <ul>
        <li>income : 収入</li>
        <li>expense : 支出</li>
        </ul>
        </li>
        <li> <p>details : 取引の明細行</p> </li>
        <li> <p>renews : 取引の+更新行</p> </li>
        <li> <p>payments : 取引の支払行</p> </li>
        <li>
        <p>from_walletable_type</p>
        <ul>
        <li>bank_account : 銀行口座</li>
        <li>credit_card : クレジットカード</li>
        <li>wallet : 現金</li>
        <li>private_account_item : プライベート資金（法人の場合は役員借入金もしくは役員借入金、個人の場合は事業主貸もしくは事業主借）</li>
        </ul>
        </li>
        </ul>
      operationId: create_deal_payment
      parameters:
      - description: 取引ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/paymentParams'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/paymentParams'
        description: 取引（収入／支出）の支払行作成
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dealResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestNotFoundError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 取引（収入／支出）の支払行作成
      tags:
      - Payments
  /api/1/deals/{id}/payments/{payment_id}:
    delete:
      description: |-
        <h2 id="">概要</h2>
        <p>指定した事業所の取引（収入／支出）の支払行を削除する</p>
        <h2 id="_2">定義</h2>
        <ul>
        <li>
        <p>issue_date : 発生日</p>
        </li>
        <li>
        <p>due_date : 支払期日</p>
        </li>
        <li>
        <p>amount : 金額</p>
        </li>
        <li>
        <p>due_amount : 支払残額</p>
        </li>
        <li>
        <p>type</p>
        <ul>
        <li>income : 収入</li>
        <li>expense : 支出</li>
        </ul>
        </li>
        <li>
        <p>details : 取引の明細行</p>
        </li>
        </ul>
      operationId: destroy_deal_payment
      parameters:
      - description: 取引ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
      - description: 決済ID
        explode: false
        in: path
        name: payment_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
      - description: 事業所ID
        explode: true
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      responses:
        "204":
          content: {}
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestNotFoundError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 取引（収入／支出）の支払行削除
      tags:
      - Payments
    put:
      description: |-
        <h2 id="">概要</h2>
        <p>指定した事業所の取引（収入／支出）の支払行を更新する</p>
        <h2 id="_2">定義</h2>
        <ul>
        <li>
        <p>issue_date : 発生日</p>
        </li>
        <li>
        <p>due_date : 支払期日</p>
        </li>
        <li>
        <p>amount : 金額</p>
        </li>
        <li>
        <p>due_amount : 支払残額</p>
        </li>
        <li>
        <p>type</p>
        <ul>
        <li>income : 収入</li>
        <li>expense : 支出</li>
        </ul>
        </li>
        <li>
        <p>details : 取引の明細行</p>
        </li>
        <li>
        <p>renews : 取引の+更新行</p>
        </li>
        <li>
        <p>payments : 取引の支払行</p>
        </li>
        <li>
        <p>from_walletable_type</p>
        <ul>
        <li>bank_account : 銀行口座</li>
        <li>credit_card : クレジットカード</li>
        <li>wallet : 現金</li>
        <li>private_account_item : プライベート資金（法人の場合は役員借入金もしくは役員借入金、個人の場合は事業主貸もしくは事業主借）</li>
        </ul>
        </li>
        </ul>
      operationId: update_deal_payment
      parameters:
      - description: 取引ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
      - description: 決済ID
        explode: false
        in: path
        name: payment_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/paymentParams'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/paymentParams'
        description: 取引（収入／支出）の支払行更新
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dealResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedError'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestNotFoundError'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalServerError'
      summary: 取引（収入／支出）の支払行更新
      tags:
      - Payments
  /api/1/manual_journals:
    get:
      description: |2-

        <h2 id="">概要</h2>

        <p>指定した事業所の振替伝票一覧を取得する</p>

        <h2 id="_2">定義</h2>

        <ul>
        <li>
        <p>issue_date : 発生日</p>
        </li>

        <li>
        <p>adjustment : 決算整理仕訳フラグ（true: 決算整理仕訳, false: 日常仕訳）</p>
        </li>

        <li>
        <p>txn_number : 仕訳番号</p>
        </li>

        <li>
        <p>details : 振替伝票の貸借行</p>
        </li>

        <li>
        <p>entry_side : 貸借区分</p>

        <ul>
        <li>credit : 貸方</li>

        <li>debit : 借方</li>
        </ul>
        </li>

        <li>
        <p>amount : 金額</p>
        </li>
        </ul>

        <h2 id="_3">注意点</h2>

        <ul>
        <li>振替伝票は売掛・買掛レポートには反映されません。債権・債務データの登録は取引(Deals)をお使いください。</li>
        <li>事業所の仕訳番号形式が有効な場合のみ、レスポンスで仕訳番号(txn_number)を返します。</li>
        <li>セグメントタグ情報は法人向けのプロフェッショナルプラン以上で利用可能です。利用可能なセグメントの数は、法人向けのプロフェッショナルプランの場合は1つ、エンタープライズプランの場合は3つです。</li>
        <li>partner_codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。またpartner_codeとpartner_idは同時に指定することはできません。</li></ul>
      operationId: get_manual_journals
      parameters:
      - description: 事業所ID
        explode: true
        in: query
        name: company_id
        required: true
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: 発生日で絞込：開始日(yyyy-mm-dd)
        explode: true
        in: query
        name: start_issue_date
        required: false
        schema:
          type: string
        style: form
      - description: 発生日で絞込：終了日(yyyy-mm-dd)
        explode: true
        in: query
        name: end_issue_date
        required: false
        schema:
          type: string
        style: form
      - description: '貸借で絞込 (貸方: credit, 借方: debit)'
        explode: true
        in: query
        name: entry_side
        required: false
        schema:
          enum:
          - credit
          - debit
          type: string
        style: form
      - description: 勘定科目IDで絞込
        explode: true
        in: query
        name: account_item_id
        required: false
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: 金額で絞込：下限
        explode: true
        in: query
        name: min_amount
        required: false
        schema:
          maximum: 9223372036854775807
          minimum: -9223372036854775808
          type: integer
        style: form
      - description: 金額で絞込：上限
        explode: true
        in: query
        name: max_amount
        required: false
        schema:
          maximum: 9223372036854775807
          minimum: -9223372036854775808
          type: integer
        style: form
      - description: 取引先IDで絞込（0を指定すると、取引先が未選択の貸借行を絞り込めます）
        explode: true
        in: query
        name: partner_id
        required: false
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      - description: 取引先コードで絞込
        explode: true
        in: query
        name: partner_code
        required: false
        schema:
          type: string
        style: form
      - description: 品目IDで絞込（0を指定すると、品目が未選択の貸借行を絞り込めます）
        explode: true
        in: query
        name: item_id
[...]
